@charset "UTF-8";

@media screen and (width >= 640px) {
  .button.buttonToTop:hover {
    background-color: #001376;
    border: 0.1875rem solid #000039;
  }

  .button.button--default:hover {
    background: #ddd;
  }

  .button.button--a:hover {
    background-color: #1fbef5;
  }

  .button.button--b:hover {
    background-image: url("../images/button/button_b_bg_hover.svg");
  }

  .button.button--e:hover {
    background-color: #ddd;
  }

  .button.button--g:hover {
    opacity: 0.8;
  }

  .pager {
    span:hover,
    a:hover {
      border-color: #428bca;
      background: #428bca;
      color: #fff;
      text-decoration: none;
    }
  }

  .yearNav li:hover {
    border-color: #428bca;

    a {
      background: #428bca;
      color: #fff;
      text-decoration: none;
    }
  }

  body {
    min-width: 62.5rem;
  }

  .sp {
    display: none !important;
  }

  .navMain .navMain__close {
    display: none !important;
  }
}
