@charset "UTF-8";

@media screen and (width <= 640px) {
  .headerBWrap .listInline {
    position: static;
    margin-bottom: 0.9375rem;
  }

  .innerTable tr td textarea {
    width: 100%;
  }

  .icon.icon--require {
    top: 0.0625rem;
    padding: 0.1875rem 0.375rem;
    font-size: 2.8vw;
  }

/*
  .icon.icon--tag {
    width: 7.5rem;
    height: 1.6rem;
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
*/

  .icon.icon--count {
    font-size: 4.8vw;
  }

  .button.buttonToTop {
    right: -5%;

    &:hover {
      border: 0.1875rem solid #000039;
    }
  }

  .button.button--default {
    font-size: 4vw;
  }

  .button.button--thumb {
    padding: 3%;
  }

  .button.button--thumb .thumb {
    width: 26%;

    img {
      width: 100%;
    }
  }

  .button.button--thumb .text {
    padding: 5%;
    font-size: 4vw;
    white-space: nowrap;
  }

  .button.button--thumb .icon--arrorwFlag {
    right: 0.75rem;
  }

  .button.button-thumbB {
    padding: 3%;
  }

  .button.button-thumbB.button-thumbB--flg .icon--count {
    right: 0.5rem;
    top: 0.5rem;
  }

  .button.button-thumbB.button-thumbB--flg .text {
    padding-right: 1.25rem;
  }

  .button.button-thumbB.button-thumbB--flg .text dt {
    font-size: 2.4vw;
  }

  .button.button-thumbB .thumb {
    width: 26%;
  }

  .button.button-thumbB .text {
    padding-left: 5%;
    padding-right: 0;
  }

  .button.button-thumbB .text .name {
    margin-top: 0;
    margin-bottom: 0.3125rem;
  }

  .button.button--b {
    width: 100%;
    height: auto;
    font-size: 5.2vw;
    line-height: 1.1;
  }

  .button.button--e {
    min-width: 0;
    width: 66%;
    font-size: 4vw;
  }

  .button.button--g {
    width: 100%;
    font-size: 4vw;
    line-height: 1.1;
    height: auto;
  }

  .button.button--h {
    font-size: 4vw;
  }

  .wrapSubmit .wrapSubmit__button {
    width: 80%;
  }

  .mw_wp_form_confirm .button.button--e {
    margin-bottom: 1.875rem;
    margin-right: 0;
  }
}
