@charset "UTF-8";

.pageContent .compoArticleItems .item {
  position: relative;
  background-color: #fff;
  margin-bottom: 2.5rem;
  width: 48%;

  a {
    display: block;
    padding: 1.875rem;
    padding-bottom: 3.75rem;
    border: 1px solid #ccc;
  }

  .item__header {
    position: relative;
    margin-bottom: 1.25rem;
    padding: 1.25rem 0;
    border-bottom: 1px solid #cbcbcb;
    line-height: 1.4;

    .string {
      padding-top: 0.1875rem;
      padding-right: 10.625rem;
      font-size: 1.9rem;
    }

    .item__cat {
      position: absolute;
      right: 0;
      top: 1.25rem;
    }
  }

  .item__logo {
    margin-bottom: 1.5625rem;
    text-align: center;
  }

  .item__photo {
    position: relative;
    overflow: hidden;
    padding-top: 64.5%;

    div {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: 50% 50% no-repeat;
      background-size: cover;
      transition: all 0.15s ease-out;
    }
  }

  .item__props {
    th,
    td {
      padding: 0.125rem 0;
      font-size: 1.4rem;
    }

    th {
      font-weight: normal;
      white-space: nowrap;
    }
  }

  .button--h {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.compoCaseArticle {
  padding-top: 1.875rem;
  border-top: 1px solid #ccc;

  .compoCaseArticle__first {
    display: table;
    width: 100%;

    .cell {
      display: table-cell;
      vertical-align: bottom;
    }

    .item__headers {
      padding-right: 5%;
      width: 56%;
      line-height: 1.4;
    }

    .item__logo {
      margin-bottom: 2.8125rem;
      text-align: center;
    }

    .compoCaseArticle__box {
      border: 1px solid #ccc;
    }

    .compoCaseArticle__header {
      position: relative;
      padding: 0.9375rem;
      border-bottom: 1px solid #ccc;

      .string {
        font-size: 2rem;
        padding-right: 10.625rem;
      }

      .item__cat {
        position: absolute;
        right: 1.25rem;
        top: 1.0625rem;
      }
    }

    .item__props {
      padding: 1.25rem;

      th,
      td {
        padding: 0.125rem 0;
        font-size: 1.4rem;
      }

      th {
        font-weight: normal;
        white-space: nowrap;
      }
    }

    .item__photo {
      width: 44%;

      img {
        width: 100%;
      }
    }
  }

  .compoCaseArticle__body {
    margin-top: 1.875rem;
    padding-top: 1.875rem;
    border-top: 1px solid #ccc;

    section {
      margin-bottom: 2.5rem;
      padding-bottom: 2.5rem;
      border-bottom: 1px solid #ccc;
    }

    h2 {
      margin-bottom: 1.875rem;
      font-size: 1.8rem;
      color: #000080;
    }

    strong {
      color: #000080;
    }

    a {
      color: #000080;
      text-decoration: underline;
    }

    ul,
    ol,
    dt,
    dd,
    p {
      margin: 1.25rem 0;
      font-size: 1.4rem;
    }

    ul,
    ol {
      margin-left: 1.25rem;
    }

    ul li,
    ol li {
      margin-bottom: 0.3125rem;
    }

    ul {
      list-style: disc;
    }

    ol {
      list-style: decimal;
    }

    .compoCaseArticle__body__main {
      width: 66%;
    }

    .compoCaseArticle__body__photo {
      width: 18.75rem;

      figure {
        margin-bottom: 1.875rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
