@charset "UTF-8";

@media screen and (width <= 640px) {
  #wrapper .pageContent {
    .corporateContent {
      .corporateContent__box .string {
        background-color: #1c4ea0;
        font-size: 4.4vw;
      }

      .headerB {
        margin-bottom: 20px;
      }

      .corporateContent__img {
        padding: 0 5%;
        text-align: center;
      }

      .corporateContent__box__body {
        padding: 5%;
      }
    }

    .corporateContent__place1 {
      padding: 0;
      border: 0;
    }

    .corporateContent__place2 {
      margin-top: 30px;
      padding: 30px 0 0 0;
      border-right: 0;
      border-top: 1px solid #ccc;
    }

    .corporateContent__address {
      height: auto;
      margin: 0 0 20px 0;

      .box {
        padding: 0 5%;
      }
    }
  }
}
