@charset "UTF-8";

.forwarderproContent {
  p,
  ul {
    font-size: 1.4rem;
  }

  .pageBanner {
    width: 100vw;

    /*
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    */

    .item {
      width: 100%;

      img {
        width: 100%;
        max-width: 100%;
        height: auto;
        display: block;
      }
    }
  }

  .compoPageNav {
    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0;
    }

    li {
      display: block;
      width: auto;
    }
  }

  .listFunctions {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem 2rem;

    li {
      display: block;
      margin-right: 0;
      margin-top: 0;
      text-align: left;
    }
  }
}
