@charset "UTF-8";

@media screen and (width <= 640px) {
  #wrapper .reasonContent {
    h2 {
      display: block;
      margin-bottom: 0;
      text-align: center;
      font-size: 4.4vw;
    }

    .reasonContent__item {
      padding-top: 40px;
      padding-bottom: 20px;

      &:first-child {
        padding-top: 30px;
      }

      .reasonContent__text,
      .reasonContent__img {
        width: auto;
      }

      .reasonContent__text {
        padding-right: 0 !important;
        padding-left: 0 !important;
        padding-top: 0;

        header h3 {
          b {
            font-size: 16.8vw;
          }

          span {
            padding-top: 14px;
            font-size: 4.8vw;
          }
        }
      }

      .reasonContent__img {
        padding: 8% 5%;
      }
    }
  }
}
