@charset "UTF-8";

.solutionContent {
  .pageBanner {
    background-color: #dfe4ea;
  }

  p {
    font-size: 1.4rem;
  }

  .solutionBanner {
    margin-bottom: 3.125rem;
  }

  .innerUnit {
    margin-bottom: 3.75rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .solutionLead {
    margin-bottom: 1.5625rem;
  }

  .solutionNote {
    margin-top: 1.25rem;
  }

  .slutionLinkText {
    margin-top: 1.25rem;
    font-size: 1.8rem;
  }
}
