@charset "UTF-8";

.solutionContent {
  .pageBanner {
    background-color: #dfe4ea;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);

    .item {
      width: 100%;

      img {
        width: 100%;
        max-width: 100%;
        height: auto;
        display: block;
      }
    }
  }

  p {
    font-size: 1.4rem;
  }

  .solutionBanner {
    margin-bottom: 3.125rem;
  }

  .innerUnit {
    margin-bottom: 3.75rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .solutionLead {
    margin-bottom: 1.5625rem;
  }

  .solutionNote {
    margin-top: 1.25rem;
  }

  .slutionLinkText {
    margin-top: 1.25rem;
    font-size: 1.8rem;
  }

  .compoPageNav {
    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0;
    }

    li {
      display: block;
      width: auto;
    }
  }
}

// 1100px以下の場合、3列表示
@media screen and (width <= 1100px) {
  .solutionContent {
    .compoPageNav {
      ul {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

// 900px以下の場合、2列表示
@media screen and (width <= 900px) {
  .solutionContent {
    .compoPageNav {
      ul {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
