@charset "UTF-8";

.compoFooterBanner {
  // background-color: #f0f0f0;
  padding: 3.75rem 0;

  .compoFooterBanner__items {
    text-align: center;

    li {
      float: left;
      margin-right: 0.9375rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.wrapCompoRecentPost {
  margin: 4.375rem 0 3.75rem 0;
}

.compoRecentPost {
  position: relative;
  padding: 0.625rem;
  padding-bottom: 3.125rem;
  padding-top: 1.5625rem;
  border: 1px solid #c0c0c0;
  border-top: 0.375rem solid #001376;

  .compoRecentPost__items {
    margin-right: 1.5625rem;
    margin-left: 1.5625rem;
    margin-bottom: 1.25rem;
    border-top: 1px solid #d1dbeb;

    li {
      padding: 0.625rem 0.125rem;
      border-bottom: 1px solid #d1dbeb;

      time {
        display: block;
        font-size: 1.2rem;
      }

      a {
        display: block;
        color: #000080;
      }
    }
  }

  .compoRecentPost__header {
    margin-right: 1.5625rem;
    margin-left: 1.5625rem;
    position: relative;
    margin-bottom: 1.25rem;
    padding-left: 3.4375rem;
    line-height: 1.2;
    font-weight: bold;
    color: #001376;

    .icon {
      position: absolute;
      left: 0;
      top: 0;
    }

    .string {
      font-size: 2.6rem;
    }

    small {
      display: inline-block;
      margin-top: 0.125rem;
      font-size: 1.2rem;
    }
  }

  .button--default {
    position: absolute;
    bottom: 0.625rem;
    width: 96%;
  }
}

.compoCard {
  position: relative;
  margin-bottom: 1.25rem;
  border: 1px solid #c0c0c0;

  img {
    transition: all 0.15s ease-out;
  }

  a {
    display: block;

    &::after {
      display: block;
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 0.75rem;
      height: 0.75rem;
      background: url("../images/content/edge.svg") no-repeat;
    }
  }

  .compoCard__thumb {
    overflow: hidden;
    margin-top: -1px;
    margin-right: -1px;
    margin-left: -1px;
  }

  .compoCard__content {
    padding: 1.25rem;
    padding-bottom: 2.5rem;

    .compoCard__title {
      margin-bottom: 0.3125rem;
      font-size: 1.6rem;

      span {
        font-weight: normal;
      }

      .string {
        display: block;
        margin-bottom: 1.25rem;
        padding-top: 0.75rem;
        color: #001376;
        font-size: 2.6rem;
        min-height: 3.625rem;
      }
    }

    .compoCard__img {
      margin-bottom: 1.25rem;
    }
  }

  &.compoCard--full {
    display: table;
    width: 100% !important;

    .compoCard__thumb,
    .compoCard__content {
      display: table-cell;
      vertical-align: top;
    }

    .compoCard__thumb {
      width: 20rem;
    }

    .compoCard__content {
      padding: 1.25rem 1.875rem 0.3125rem 1.875rem;
    }

    .compoCard__img {
      margin-bottom: 0.9375rem;
    }
  }
}
